<h1>Story Details</h1>

<p><strong>Address:</strong> <%= @story.address %></p>
<p><strong>Type of Stuff:</strong> <%= @story.type_of_stuff %></p>
<p><strong>Category:</strong> <%= @story.category %></p>
<p><strong>Rating:</strong> <%= @story.rating %></p>