<!-- app/views/surveys/new_question.html.erb -->

<h2>Add Questions</h2>

<%= link_to 'Open-Ended', question_type_survey_path(@survey, question_type: 'open_ended') %>
<%= link_to 'Multiple Choice', question_type_survey_path(@survey, question_type: 'multiple_choice') %>
