<!-- app/views/assers/index.html.erb -->

<h1>Welcome to the Asset Creation Home Page</h1><br/>

<div class="button-container">
<br/>
  <%= link_to "Create New Asset", new_asser_path, class: "btn btn-primary" %><br/>
  <%= link_to "View All Assets", assers_path, class: "btn btn-primary" %>
  <%
=begin%>
 <%= link_to "View Asser Stories", asser_stories_path, class: "btn btn-primary" %> 
<%
=end%>

  <%
=begin%>
 <%= link_to "View All Stories", stories_path, class: "btn btn-primary" %> 
<%
=end%>




  
</div>
