<h1 class="moving-header">Welcome to the Asset Creation Home Page</h1>

<br/>
<div class="button-container">
  <br/>
  <%= link_to "Create New Asset", new_asser_path, class: "btn btn-primary animate__animated animate__fadeIn" %><br/>
  <%= link_to "View All Assets", assers_path, class: "btn btn-primary animate__animated animate__fadeIn" %>
    <%= link_to "View All Stories", asser_stories_path(40), class: "btn btn-primary animate__animated animate__fadeIn" %>

</div>
