<h1>Surveys</h1>

<% @surveys.each do |survey| %>
  <div class="survey">
    <h3><%= link_to survey.title, survey_path(survey) %></h3>
    <p><%= survey.survey_script %></p>
    <% if survey.published %>
      <p>Status: Published</p>
    <% else %>
      <p>Status: Draft</p>
    <% end %>
  </div>
<% end %>

<%= link_to 'Create Survey', new_survey_path, class: 'btn btn-primary' %>
